.container {
  padding-bottom: 30px;
}

p {
  text-align: right;
  font-weight: bold;
  color: white;
}

.region-dropdown {
  cursor: pointer;
  text-align: left;
}
.search-btn {
  text-align: center;
  margin-bottom: 20px;
}

.name-logo {
  margin-bottom: 30px;
  img {
    height: 95px;
  }
}